{% extends "video-tiktok.html" %}
{% block title %}Página de Inicio{% endblock %}


{% block content %}


<form method="post" enctype="multipart/form-data" style="margin-left: 25px;">
    {{ form.hidden_tag() }}
    <p>
      {{ form.imagen.label }}<br>
      {{ form.imagen() }}<br>
    </p>
    <p>
      {{ form.imagen_alt.label }}<br>
      {{ form.imagen_alt(size=4) }}<br>
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  
  <style>
    textarea {
      width: 50vw;
    }

    input {
      width: 20vw;
    }

  </style>


  {% endblock %}